html {
    font-family: sans-serif, serif, "Times New Roman";
}

body {
    /* background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #444;
    /* text-align: center; */
}

.borderImg {
    /* border-bottom: 10px dashed hotpink; */
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px;
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    padding: 5px 50px 10px 100px;
    /* Padding works clockwise T R B L */
}

img {
    max-width: 100%;
    height: auto;
    padding: 15px;
    opacity: 50%;
    margin: 5px 50px 10px 100px;
    /* Margin works clockwise T R B L */
}